#logo{
    max-width: 120px;
}

#body{
    margin: 0;
    padding: 0;

}

#header a {
    color: rgb(31, 31, 31);
}
.king{
    width:100%;
    height: 535px;
}
.card{
    left:45px;
}
#carousel{
    position: relative; /*Para que se adapte a la pantalla*/
}

.overlay {
    position:absolute; /* Para que se adapta al caruosel*/
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-family: Rockwell;
}

.navbar-toggler{
    background-color:#ffffff;
}

#logo{
    max-width: 120px;
}

#footer{
    background-color: #000814;
}

#carousel{
    max-height: 80vh;
    object-fit: cover;
    filter: sepia(30%);
    max-width:100%;
    position: relative;
}

.container{
    margin-top: 180px;
}

#galeria img{
    width:450px;
    height: 300px;
}

.clase{
    margin-top: -355px;
    margin-left:204%;
}

.paragraph{
    width: 950px;
    position: relative;
    left: 30px;
    font-size:18px;
    text-align: justify;
}

.container1{
    max-width: 700px;
    width: 100%;
    padding: 55px 20px;
    margin: -20px;
    margin-top: -30px;
}

@media screen and (max-width: 650px) {
    .paragraph{
        font-size: 15px;
        width:310px;
    }
}

@media screen and (max-width: 650px) {
    .clase{
        margin-left: 10px;
        margin-top: -10px;
    }
}

@media screen and (max-width: 650px) {
#galeria img{
    margin-left: 35px;
        width:310px;
        height: 250px;
    }
}